#preloader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99999;
	background-image: url("../img/preloader.gif");
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-hover:hover {
	border-color: #3b71ca !important;
	background-color: white !important;
}

.icon-hover:hover i {
	color: #3b71ca !important;
}

.icon-hover-danger:hover {
	border-color: #dc4c64 !important;
	background-color: white !important;
}

.icon-hover-danger:hover i {
	color: #dc4c64 !important;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.currency-style del {
	font-size: 0.75em;
	font-weight: 400;
	color: gray;
}

.limited-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}