<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>Sparkling Stones</display-name>
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/main/error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>controller.common.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>shop</display-name>
		<servlet-name>shop</servlet-name>
		<servlet-class>controller.common.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>shop</servlet-name>
		<url-pattern>/shop</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CartController</display-name>
		<servlet-name>CartController</servlet-name>
		<servlet-class>controller.common.CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.common.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.common.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OTPController</display-name>
		<servlet-name>OTPController</servlet-name>
		<servlet-class>controller.common.OTPController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OTPController</servlet-name>
		<url-pattern>/verify-otp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DetailController</display-name>
		<servlet-name>DetailController</servlet-name>
		<servlet-class>controller.common.DetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailController</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
</web-app>